<h1>Login - Goiás de Fato News</h1>

<form action="/login" method="POST">
    <link rel="stylesheet" href="/css/style.css">

<input type="text" name="usuario" placeholder="Usuário">

<br><br>

<input type="password" name="senha" placeholder="Senha">

<br><br>

<button type="submit">Entrar</button>

</form>