<h1><%= noticia.titulo %></h1>
<link rel="stylesheet" href="/public/css/style.css">
<% if(noticia.imagem){ %>
<img src="/img/<%= noticia.imagem %>" width="400">
<% } %>

<p><%= noticia.conteudo %></p>

<p>Visualizações: <%= noticia.visualizacoes %></p>