*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
    background:#f4f4f4;
    }
    
    header{
    background:#0b8a2a;
    color:white;
    padding:20px;
    }
    
    .topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    }
    
    .logo{
    font-size:28px;
    font-weight:bold;
    }
    
    .busca input{
    padding:8px;
    border:none;
    border-radius:4px;
    }
    
    nav{
    background:#002776;
    padding:10px;
    }
    
    nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:30px;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    }
    
    .container{
    width:90%;
    margin:auto;
    margin-top:30px;
    }
    
    .destaque{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    }
    
    .noticia-principal{
    background:white;
    padding:20px;
    }
    
    .noticia-principal img{
    width:100%;
    }
    
    .lateral{
    display:flex;
    flex-direction:column;
    gap:20px;
    }
    
    .card{
    background:white;
    padding:15px;
    }
    
    .card img{
    width:100%;
    }
    
    .grid-noticias{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    }
    
    footer{
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:40px;
    }
    
    @media(max-width:900px){
    .destaque{
    grid-template-columns:1fr;
    }
    }